@import url(http://fonts.googleapis.com/css?family=Lato:400,100,700);
.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14 px;
    color: #043984;
    background: white; }
body h5, body h6 {
    margin: 0; }
body h3, body h4 {
    margin-top: 0; }
body > section {
    padding: 50px 0; }
body > section#slide-show {
    padding: 0; }

.borda {
    -webkit-box-shadow: -5px 0px 5px -5px rgba(50, 50, 50, 0.75), 5px 0px 5px -5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: -5px 0px 5px -5px rgba(50, 50, 50, 0.75), 5px 0px 5px -5px rgba(50, 50, 50, 0.75);
    box-shadow: -5px 0px 5px -5px rgba(50, 50, 50, 0.75), 5px 0px 5px -5px rgba(50, 50, 50, 0.75); }

.btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background-image: none;
    text-shadow: none; }
.btn.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff; }
.btn.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5); }
.btn.btn-link {
    color: #2dcc70;
    padding: 0; }
.btn.btn-link:hover {
    text-decoration: none; }

.btn-primary {
    background-color: #2dcc70; }
.btn-primary:hover {
    background-color: #24a259; }

.title {
    color: #398404;
    padding: 10px 0; }

.center {
    text-align: center; }

.box {
    background-color: white;
    border-top: 1px solid #f0f0f0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }

.line {
    height: 1px;
    background-color: #043984; }

header.navbar {
    margin-bottom: 0; }
header.navbar .navbar-inner {
    margin: 20px 0;
    padding: 0 0 2px 0; }
header.navbar .navbar-inner .container .row {
    margin-left: 0; }
header.navbar .navbar-inner .container .row .pull-left {
    margin-left: 30px; }
header.navbar .navbar-inner .container .row .pull-right {
    margin-right: 30px; }
header.navbar .navbar-inner .container .row .logo {
    padding: 10px 10px; }
header.navbar [class*="span"] {
    margin-left: 0;
    padding-top: 80px; }
header.navbar .nav {
    margin-top: 0px;
    padding-top: 5px;
    float: none;
    text-align: center; }
header.navbar .nav > li {
    margin-left: 1px;
    float: none;
    display: inline-block; }
header.navbar .nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #043984;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14 px;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center; }
header.navbar .nav > li > a:hover, header.navbar .nav > li.active > a, header.navbar .nav > li.active > a:hover {
    color: #398404; }

.modal {
    border: 0; }
.modal .modal-body {
    padding: 10px; }

.mini-gap {
    margin-bottom: 25px; }

.gap {
    margin-bottom: 50px; }

.big-gap {
    margin-bottom: 100px; }

.no-margin {
    margin: 0;
    padding: 0; }

#logo {
    max-height: 250px; }

#logo2 {
    max-width: 170px;
    min-width: 170px; }

#organograma {
    max-width: 800px; }

#submit {
    background-color: #043984; }

#valores .span4 div {
    padding: 30px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(4, 57, 132, 0.75);
    -moz-box-shadow: 1px 1px 1px 1px rgba(4, 57, 132, 0.75);
    box-shadow: 1px 1px 1px 1px rgba(4, 57, 132, 0.75);
    -webkit-border-radius: 0 50px 0 50px;
    -moz-border-radius: 0 50px 0 50px;
    border-radius: 0 50px 0 50px;
    border: 1px solid #043984;
    text-align: justify; }

#valores .missao, #valores .visao, #valores .valores {
    /*background: rgba(57, 132, 4, 0.7);*/ }
#valores .missao {
    margin: 0; }
#valores .visao {
    margin: 60px 0 0 0; }
#valores .valores {
    margin: 120px 0 0 0; }

.projetos {
    padding: 10px 0; }
.projetos .projeto {
    margin: 10px 0; }

.sobre h2 {
    text-align: justify;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 24 px; }
.sobre p {
    text-align: justify;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18 px;
    line-height: 1.5; }

.galeria ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;}
.galeria ul li {     
    list-style:none;
    margin-bottom:25px;}
.galeria ul li img {
    cursor: pointer;}

#footer {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #043984; }
#footer a {
    color: #398404; }
#footer a:hover {
    color: #840439; }
#footer .cp {
    margin-top: 11px; }

.accordion-group {
    background-color: #fff;
    border-top: 1px solid #f0f0f0; }

.accordion-heading .accordion-toggle {
    color: #666;
    font-weight: 700; }

.accordion-inner {
    border-top: 0; }

ul.breadcrumb {
    margin: 12px 0 0;
    background: transparent; }
ul.breadcrumb > li {
    text-shadow: none; }
ul.breadcrumb > li > a, ul.breadcrumb > li .divider {
    color: #043984; }
ul.breadcrumb > li.active {
    color: #398404; }
ul.gallery {
    display: block;
    margin: -15px; }
ul.gallery.col-1 li {
    width: 100%; }
ul.gallery.col-2 li {
    width: 50%; }
ul.gallery.col-3 li {
    width: 33.3333%; }
ul.gallery.col-4 li {
    width: 25%; }
ul.gallery li {
    display: block;
    padding: 0;
    margin: 0;
    float: left; }
ul.gallery li .desc {
    margin: 15px; }
ul.gallery li .preview {
    margin: 15px;
    display: block;
    position: relative; }

#error {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px; }
